.card {
    margin: 80px;
}

#recent {
    text-align: center;
    margin: 35px 0px -30px 0px;
}

#Our_events {
    margin: 40px 0px -30px 0px;
    text-align: center;
}

h1 {
    font-family: 'Poppins';
    font-weight: bold;
    color: black;
}

#Our_events {
    margin-top: 80px;
}

/* @media (max-width:1000px){
    
} */