.card{
    margin: 80px;
}

#recent{
    text-align: center;
    margin:35px 0px -30px 0px;
}

#Our_events{
    margin:40px 0px -30px 0px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    color: black;
}

@media (max-height:1000px){
    #Our_events{
        margin-top: 70px;
    }
}
