@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open Sans');

@media (max-height:800px) {
	footer {
		position: static;
	}

	header {
		padding-top: 40px;
	}
}


.footer-distributed {
	background-color: rgba(0, 0, 0, 0.836);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 0px 50px;
	margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 30%;
}

.footer-distributed h3 {
	color: #ffffff;
	font: normal 36px 'Poppins', cursive;
	font-weight: 500;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
	width: 30%;
}

.footer-distributed h3 span {
	color: #e0ac1c;
	font-weight: 600;
}

/* Footer links */

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
	padding-left: 40px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
	font-family: Poppins;
	font-weight: 500;
	font-size: xx-large;
}

.footer-distributed .footer-center ul li {
	list-style-type: none;
	padding: 2px 0px;
	font-size: larger;
	margin-left: -24px;
}

.footer-distributed .footer-center ul li a:hover {
	color: #ffffff;
}

.footer-distributed .footer-center a {
	font-family: 'Open Sans';
	color: #e0ac1c;
	text-decoration: none;
	;
}


/* Footer Right */

.footer-distributed .footer-right {
	width: 30%;
}

.footer-distributed .icon {
	color: #ffffff;
}

.footer-distributed .icon i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 29px;
	font-family: Poppins;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 0px;
		text-align: center;
	}

	.footer-distributed .footer-center i {
		margin-left: 0;
	}

}

@media (max-width: 500px) {
	.footer-center-p {
		display: none;
	}

	.footer-links {
		display: none;
	}

	.footer-left img {
		display: none;
	}

	.footer-distributed {
		margin-top: 0px;
		padding: 20px 20px 0 20px;
	}

	.footer-distributed h3 {
		font-size: 24px;
	}

	.footer-distributed .footer-company-about span {
		font-size: 20px;
		margin: 0;
	}

	.footer-distributed .icon i {
		margin: 0px;
	}

	.footer-distributed .footer-icons {
		margin-top: 0px;
	}
}