* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  /* #2a2932*/

  @media only screen and (max-width:950px) {
	.container{
	  columns: 5;
	}
  }
  
  @media only screen and (max-width: 650px) {
	.container{
	  columns: 3;
	}
  }
  
  @media only screen and (max-width: 390px) {
	.container{
	  columns:2;
	}
  }
.gallery {
	background-color: #2a2932;
	padding:10px;
}
.container{
	width:100%;
	columns:  5;
  column-gap: 10px;
padding: 10px;
}
img{
	width:100%;
    margin-bottom: 10px;
	border-radius: 5px;
	border: solid #ff9800 2px;
}
.gallery-item:hover{
transform: scale(1.3);
z-index:2;
}

.slider{
background-color: white;
position: absolute;
bottom:100%;
left: 0px;
top: 0px;
width: 100%;
height: 0px;
overflow: hidden;
 
}
.gallery-item:hover.slider{
 height: 100%;
bottom:0;
}
.info{
	top: 50%;
	left:50%;

}
.row {
	padding-top: 100px
}

/*Gallery main content*/
/*.container{
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 8%;
}*/
.container .gallery-content {
   display:flex;
   flex-direction: row;
   justify-content: space-between;

}

.container .gallery-content {
	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px; */
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	justify-items: center;

}

/*.gallery-item {
	margin: 10px 30px;
	width: 220px;
	height: 220px;
}

.gallery img {
	max-width: 100%;
	border: solid #ff9800 2px;
	height: auto;
	vertical-align: middle;
	border-radius: 5px;
	display:inline-block;
}*/


/*Gallery tab*/
.gallery .gallery-filter {
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.gallery .gallery-filter .filter-item {
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	line-height: 1.2;
	transition: all 0.3s ease;
}

.gallery .gallery-filter .filter-item.active {
	color: #ff9800;
	border-color: #ff9800;
}

.gallery .gallery-item.show {
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.gallery .gallery-item.hide {
	display: none;
}