
/* navigation */

.navbar{
    background-color: rgba(0,0,0, 0.836);
	padding:5px;
	display:block;
	z-index:1;
	width:100%;
	box-shadow: 0px 4px 0px 0px solid black;;
}
.navbar p{
	color:lightyellow;
}
.navbar ul{
    font-size:18px;
	font-weight:500;
    margin-bottom: 0px;
}
.navbar ul li{
	padding: 0px 15px;
}
.navbar ul li a:hover{
	text-decoration:underline;
}